<a href="https://colab.research.google.com/github/dhruv602/assignment/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Author
Dhruv Shah

#Data Science Tools and Ecosystem

###**Introduction**
#####In this notebook, Data Science Tools and Ecosystem are summarized.

####Objectives:


*  List popular languages for Data Science

*  List common libraries used by Data Scientists

*  List some Data Science Tools

###**Data Science Languages**
#####Some of the popular languages that Data Scientists use are:
1.   Python
2.   R Language
3.   Java
4.   Julia
5.   SQL

###**Data Science Libraries**
#####Some of the commonly used libraries used by Data Scientists include:

1.   Pandas
2.   Matplotlib

1.   Seaborn
2.   Scikit Learn

1.  Keras
6.  Tensorflow
7.  SciPy
8. Pytorch

|Data Science Tools|
|------------------|
|Apache Spark|
|Apache Hadoop|
|RStudio|

###Arithmetic Expressions in Python
###Below are a few examples of evaluating arithmetic expressions in Python:

In [ ]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [ ]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335